all:
  hosts:
    wp-polylex-prod-openshift:
      ansible_connection: local
      ansible_host: localhost
      openshift_namespace: svc0041p-wordpress
      inventory_environment: prod
      ansible_python_interpreter: '{{ ansible_playbook_python }}'
  vars:
    route:
      host: polylex-admin.epfl.ch
      availability: public
    tag: 1.15.1
