all:
  hosts:
    wp-polylex-test-openshift:
      ansible_connection: local
      ansible_host: localhost
      openshift_namespace: svc0041t-wordpress
      inventory_environment: test
      ansible_python_interpreter: '{{ ansible_playbook_python }}'
  vars:
    route:
      host: polylex-admin-test.epfl.ch
      availability: private
    tag: test
