- name: Robot Pull
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      type: kubernetes.io/dockerconfigjson
      metadata:
        name: '{{ app_name }}-pull-secret'
        namespace: '{{ openshift_namespace }}'
      data:
        .dockerconfigjson: '{{ robot_pull }}'

- name: Secrets
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: '{{ app_name }}'
        namespace: '{{ openshift_namespace }}'
      data:
        MONGO_URL: '{{ MONGO_URL | b64encode }}'
        AUTH_ENTRA_TENANT_ID: '{{ AUTH_ENTRA_TENANT_ID | b64encode }}'
        AUTH_ENTRA_CLIENT_ID: '{{ AUTH_ENTRA_CLIENT_ID | b64encode }}'
        AUTH_ENTRA_SECRET: '{{ AUTH_ENTRA_SECRET | b64encode }}'
  vars:
    MONGO_URL: >-
      mongodb://{{ secrets.mongodb.user }}:{{ secrets.mongodb.password }}@{{ secrets.mongodb.host }}.epfl.ch/{{ secrets.mongodb.name }}
    AUTH_ENTRA_TENANT_ID: >-
      {{ secrets.entra.tenant_id }}
    AUTH_ENTRA_CLIENT_ID: >-
      {{ secrets.entra.client_id }}
    AUTH_ENTRA_SECRET: >-
      {{ secrets.entra.secret }}
