---
# vars file for epfl.polylex
polylex_app_name: polylex
polylex_svc_name: polylex
polylex_route_name: polylex
polylex_secret_name: "polylex"
polylex_cname: "{{ 'polylex-admin.epfl.ch' if openshift_namespace == 'wwp' else 'polylex.128.178.222.83.nip.io' }}"
polylex_deploy_name: polylex
polylex_image_version: '1.9.0'
polylex_image_tag: 'epflsi/polylex:{{ polylex_image_version }}'
polylex_db_name: "polylex"
polylex_db_user: "polylex"
polylex_secrets: "{{ lookup('file', '/keybase/team/epfl_wppolylex/ansible_polylex_secrets.yml') | from_yaml }}"
polylex_db_password: "{{ polylex_secrets.frontend.credentials.POLYLEX_DB_PASSWORD_PROD if openshift_namespace == 'wwp' else polylex_secrets.frontend.credentials.POLYLEX_DB_PASSWORD_TEST }}"
db_host: "{{ 'mongodb-svc-1' if openshift_namespace == 'wwp' else 'test-mongodb-svc-1' }}"
